<%- extend ('layout/layout',{title: 'Inicio'}) %> <%- include ('partials/nav')
%> <%- include ('partials/mensaje') %> <%- include ('partials/modal') %> <%-
include ('partials/modalEditContribuyente') %>
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="text-center h3">Registro de Contribuyentes</div>
        </div>
        <div class="card-body">
          <div class="form-group" class="card">
            <form id="formcontribuyentes" action="">
              <select class="form-control custom-select mb-2" id="iseniat">
                <option selected disabled value="">seleccione un status</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
              <select
                class="form-control custom-select mb-2"
                name=""
                id="estado"
              ></select>

              <select
                class="form-control custom-select mb-2"
                id="municipio"
              ></select>
              <select
                class="form-control custom-select mb-2"
                id="parroquia"
              ></select>
              <div class="row mx-1">
                <select class="custom-select col-3" name="" id="nacionalidad">
                  <option value="V-">V</option>
                  <option value="E-">E</option>
                  <option value="J-">J</option>
                  <option value="G-">G</option>
                </select>
                <input
                  autocomplete="off"
                  class="form-control mb-2 col-8 mx-2"
                  type="text"
                  id="rif"
                  placeholder="RIF"
                />
              </div>
              <input
                autocomplete="off"
                class="form-control mb-2"
                type="text"
                id="contribuyente"
                placeholder="contribuyente"
              />

              <div id="boton">
                <input class="btn btn-primary" type="reset" value="Borrar" />
                <button id="btnregistrar" class="btn btn-success">
                  Registrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col 6">
      <div class="list-scroll2">
        <div class="card">
          <table class="table table-hover table-sm text-center text-capitalize">
            <thead class="card-header">
              <tr>
                <th>N°</th>
                <th>contribuyente</th>
                <th>rif</th>
                <th>status</th>
                <th>acciones</th>
              </tr>
            </thead>
            <tbody class="card-body" id="listcontribuyentes"></tbody>
          </table>
        </div>
      </div>
      <table class="table table-hover table-sm text-center text-capitalize">
        <TFoot class="card-footer">
          <th>N°</th>
          <th>contribuyente</th>
          <th>rif</th>
          <th>status</th>
          <th>acciones</th>
        </TFoot>
      </table>
    </div>
  </div>
</div>
<% if (success) { %>
<script>
  const alertaMessage = document.querySelector("#alerta");
  alertaMessage.innerHTML += `<div
        class="alert alert-success alert-dismissible fade show d-none"
        role="alert"
        id="message"
      ><%= success %>
        <div id=""></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>`;
  if ("<%= success %>") {
    document.querySelector("#message").classList.remove("d-none");
  }
</script>
<% } %>
<script src="contribuyentes.js"></script>
<script src="eventos.js"></script>
